<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="Database" connectionString="A"/>
    <add name="ConnectionToMySQL" connectionString="server=127.0.0.1;user id=root; password=; database=jsbtest; pooling=false;charset=utf8"/>
  </connectionStrings>
</configuration>